# Python 2

In [1]:
person = "Paulo"

In [2]:
print("My name is {}".format(person))

My name is Paulo

# Python 3

In [3]:
print(f'My name is {person}')

My name is Paulo

In [5]:
library = [('Author', 'Topic', 'Pages'), ('Twain', 'Rafting In Water', 601), ('Feynman', 'Physics', 95), ('Hamilton', 'Mythology', 144)]

In [6]:
library

[('Author', 'Topic', 'Pages'),
 ('Twain', 'Rafting In Water', 601),
 ('Feynman', 'Physics', 95),
 ('Hamilton', 'Mythology', 144)]

You can define a minimum amount of space between each value by adding `{number}` to the string interpolation.
For example `print(f'{author: {10}}')`, you can also add `>` to align strings with integers.

In [12]:
for author, topic, pages in library:
    print(f'{author:{10}} {topic:{30}} {pages:>{10}}')

Author     Topic                               Pages
Twain      Rafting In Water                      601
Feynman    Physics                                95
Hamilton   Mythology                             144

#### Working with dates

In [16]:
from datetime import datetime

In [19]:
today = datetime(year=2020, month=11, day=11)

In [22]:
# Add :format to format date
print(f'{today:%B %d, %Y}')

November 11, 2020